/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
  line-height: 1.5;
  margin: 30px;
}

h1 {
  color:white;
  font-family:'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(207, 202, 202);
    font-weight: 600;
}

.foto {
  width: 300px;
}

.obsah {
  background-color: #31363b;
  width: 300px;
  padding: 30px;
}


.logo {
  position: absolute;
  top: 210px;
  left: 250px;
  background-color: #b92e81;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(36, 35, 35, 0.5)

}

.odkazy { /* celé třídě odkazy zapneš flexbox, nastavíš flex-wrap, aby se to zalomilo, a flex-direction: row, aby se ten obsah zarovnal řádkově*/
  font-family:'Montserrat', sans-serif;
  background-color: #31363b;
  padding: 0;
  margin: 0;
  width: 300px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
} 


.odkazy a {
  color: rgb(207, 202, 202);
    text-decoration: none;
    text-transform:uppercase;
    font-weight: bold;
}

.odkazy li {
  display: block;
  padding: 10px;
}

.portfolio {  /* hornímu odkazu - portfoliu - hodíš flex-grow: 4, ostatním (facebook a twitter) flex-grow: 2, aby byl ten horní odkaz výrazně větší, nakonec portfoliu nastavíš flex-basis: 100%, aby poměrově tomu hornímu odkazu zbyl veškerý prostor v řádku*/
  border-top: 2px solid #3f464d;
  border-bottom: 2px solid #3f464d;
  flex-grow: 4;
  flex-basis: 100%;
}
  
/* přidání pozadí při přejetí myší (hover) */
.portfolio:hover{
  background-color: #e74c3c;
}

.twitter {
  text-align: center;
  flex-grow: 2;
}

.twitter:hover {
  background-color: #1da1f2;
}

.facebook {
  text-align: center;
  border-bottom: 2px solid #3f464d;
  flex-grow: 2;
}

.facebook:hover{
  background-color:#3b5998;
}

